

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffdbfb;
    color: gold;
    min-height: 100vh;
    text-align: center;
    /* padding: 20px; */
  }
  
  .contact-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 150px 0px;
    max-width: 1200px;
    margin-bottom: 20px;
  }
  
  .contact-approve img {
    width: 100%;
    /* max-width: 700px; */
    /* height: auto; */
    height:100px;
    border-radius: 10px;
    margin-right: 20px;
    /* background-color: yellow; */
  }
  
  .contact-form {
    background-color: lightcoral;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
    width: 100%;
    max-width: 500px;
  }
  
  .contact-form label {
    display: block;
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .contact-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 2px solid gold;
    border-radius: 5px;
    background-color: #ffdbfb;
    color: gold;
  }
  
  .contact-form button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: black;
    background-color: gold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .contact-form button:hover {
    background-color: silver;
  }

  .map{
    width:100%;
  }
  
  .map iframe {
    width: 100%;
    height: 400px;
    border: none;
  }
  
  @media (max-width: 768px) {
    .contact-page {
      flex-direction: column;
    }
  
    .contact-approve img {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .contact-form {
      width: 90%;
      max-width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .contact-form label {
      font-size: 1rem;
    }
  
    .contact-form input {
      padding: 8px;
      font-size: 0.9rem;
    }
  
    .contact-form button {
      font-size: 1rem;
      padding: 8px 16px;
    }
  }
  